body {
  	font: 11px/14px verdana, sans-serif;
	color: #151515;
	background: #eeeeee url("") top left repeat-x;
}

titulo {
	color: #151515;
	font-size: 12px;
}
font1 {color: #151515;
	font-size: 15px;
}

font2 {
	color: #151515;
	font-size: 12px;
}
font3 {color: #000000;
	font-size: 18px;
}
alerta1 {color: #E33939;
	font-size: 12px;
}

p {color: rgb(0,0,255)}

table.t1 {
    border-width: 1px 1px 1px 1px;
    border-spacing: 3px;
    border-style: outset outset outset outset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    border-collapse: separate;
    background-color: #eeeeee;
    font-size: 11px;
    color: #151515;
}
table.t1 th {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #eeeeee;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #151515;
}
table.t1 td {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #eeeeee;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #151515;
}

table.t2 td {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #eeeeee;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #151515;
     width: 200px ;
     height: 200px ;
}

table.t1 tr {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #eeeeee;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #151515;
}
table.t1 tr.special td  {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #bfff80;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #007603;
}
table.t1 tr.special2 td  {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #eeeeee;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #BE5D5D;
}
table.t1 tr.special3 td  {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #F8A8AD;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #000000;
}



table tr.special td  {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #bfff80;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #000000;
}










button.boton1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button.boton2 {
  background-color: #e0e0eb; 
  border: 5px;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


strong 
	{
		border:			1px solid #000000;
		border-top:		1px solid #000000;
		border-right:		1px solid #000000;
		padding-bottom:		0;
		padding-top:		0;
		padding-right:		20;
		padding-left:		20;        
		margin-left:		-1px; 	
		margin-top:		3em;
		margin-bottom:		1px;
		background:		#cfcfcf;
		font-size:			115%;
		font-weight:			normal;

	}

a.heading
	{
		border-bottom:		0px;
		background:		#bfbfbf
	}
a.heading:link
	{
		color:			#000000;
	}
a.heading:visited
	{
		color:			#000000;
	}
a.heading:hover
	{
		color:			#ffffff;
		background:		#bfbfbf;
	}

.links
{
 	margin:	0px;
	padding:	6px;
	border:	0px inset #000000;
	max-width: 90%;
	background: 	white;
}



.top2
{
 	margin:	0px;
	padding:	2px;
	border:	1px solid #000000;
	margin-left:	0.15em;
	height:	12px;
}

.top_bar
{
  	background: 	#97b1d8;
  	font-family: 	helvetic, helvetica, arial;
  	font-size: 		12px;
  	height: 		30px;
	margin-left:	0.1em;
	margin-top:	0.5em;
	padding-top:	5px;
	padding-right:	15px;
	padding-left:	15px;
	border:		1px solid #000000;
}

.bottom_bar
{
  	background: #97b1d8;
 	margin-left: 	224;
 	margin-right: 	224;
	margin-top:	40px;
	margin-bottom:	12px;
	padding-top:	1px;
	padding-bottom:	1px;
		border:			2px solid #000000;
		border-top:		1px solid #000000;
		border-right:		1px solid #000000;
		border-left:		1px solid #000000;
}

td
{
  	font-family: helvetic, helvetica, arial;
  	font-size: 12px;
}



/* this is for category headings */

/* this is the indenting procedure for categories */
blockquote
	{
		margin-left:		32;
		margin-right:		0;
		
	} 

/* various link styles */
a
	{
		margin-right:		12;
		text-decoration:	none;
		border-bottom:		1px solid grey;
                white-space:            nowrap;
	}

a:link
	{	
		color:			black;
	}

a:visited
	{
		color:			black;
		border-bottom:		1px solid grey;
	}

a:active
	{
		color:			yellow;
	}

a:hover
	{
		color:			blue;
		border-bottom:		1px solid black;
	}


img.logo
	{
		margin-top:		1em;
		width:			318;
		height:			239;
		margin-left:	10px;
		border:		0px;
		float:		right;
	}

img
	{
		border:			0;
	}

input
	{
		margin-top:		6;
		margin-bottom:		6;
		margin-left:		3;
		margin-right:		3;
		padding-left:           2;
	}


input.btn{
   color:#050;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;}


#radio01 {width:100%}
el02 {
	color:#00f;
	background-color:#ddd;
}
#radio03 {background:url(/i/icon-info.gif) no-repeat 100% 50%}
#radio04 {border-width:6px}
#radio05 {border:2px dotted #00f}
#radio06 {border:none}
#radio07 {padding:1em}
#radio08 {
	border-width:4px;
	width:1.5em;
	height:1.5em;
	padding:2em;
}   
   
   