body {
  	font: 11px/14px Helvetica-Bold, sans-serif;
	color: #000000;
	background: #CCCC99 url(/002/bg1.gif) top left repeat-x;
}

titulo {
	color: #151515;
	font-size: 30px;
}
font4 {color: #009709;
	font-size: 30px;
}

font2 {
	color: #151515;
	font-size: 12px;
}

font3 {color: #dda0dd;
	font-size: 12px;
}

font4 {color: #000000;
 
	font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-style: normal; font-variant: normal;;
}

font5 {color: #FF0000;
	font-size: 30px;
}

font6 {color: #FFA500;
	font-size: 30px;
}

alerta1 {color: #E33939;
	font-size: 12px;
}






#font4 {color: #009709;
        font-size: 140px;
}









p {
	color: rgb(0,0,0);
  text-align: left;
}

table.t1 {
    border-width: 1px 1px 1px 1px;
    border-spacing: 3px;
    border-style: outset outset outset outset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    border-collapse: separate;
    background-color: #CCCC99;
    font-size: 11px;
    color: #151515;
}
table.t1 th {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #CCCC99;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #151515;
}
table.t1 td {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #CCCC99;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #151515;
}

table.t1 td.roja {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #FE2E2E;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 18px;
    color: #151515;
}

table.t1 td.verde {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #58FA58;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 18px;
    color: #151515;
}
table.t1 td.fecha {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #bc0017;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 18px;
    color: #ffffff;
}

table.t1 tr {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #F8A8CD;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #151515;
}
table.t1 tr.special td  {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #ffffff;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #000000;
}
table.t1 tr.special2 td  {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #F8A8CD;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #BE5D5D;
}

table.t1 td.special2 td  {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #FE2E2E;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #BE5D5D;
}

table.t1 td.special3 td  {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #58FA58;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 11px;
    color: #BE5D5D;
}




table.t2 {
    border-width: 1px 1px 1px 1px;
    border-spacing: 3px;
    border-style: outset outset outset outset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    border-collapse: separate;
    background-color: #CCCC99;
    font-size: 14px;
    color: #151515;
}
table.t2 th {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #CCCC99;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 14px;
    color: #151515;
}
table.t2 td {
    border-width: 1px 1px 1px 1px;
    padding: 2px 2px 2px 2px;
    border-style: inset inset inset inset;
    border-color: #1C1C1C #1C1C1C #1C1C1C #1C1C1C;
    background-color: #CCCC99;
    -moz-border-radius: 0px 0px 0px 0px;
   font-family: "Verdana", Verdana, serif;
    font-size: 14px;
    color: #151515;
}






strong 
	{
		border:			1px solid #000000;
		border-top:		1px solid #000000;
		border-right:		1px solid #000000;
		padding-bottom:		0;
		padding-top:		0;
		padding-right:		20;
		padding-left:		20;        
		margin-left:		-1px; 	
		margin-top:		3em;
		margin-bottom:		1px;
		background:		#cfcfcf;
		font-size:			115%;
		font-weight:			normal;

	}

a.heading
	{
		border-bottom:		0px;
		background:		#bfbfbf
	}
a.heading:link
	{
		color:			#000000;
	}
a.heading:visited
	{
		color:			#000000;
	}
a.heading:hover
	{
		color:			#ffffff;
		background:		#bfbfbf;
	}

.links
{
 	margin:	0px;
	padding:	6px;
	border:	0px inset #000000;
	max-width: 90%;
	background: 	white;
}



.top2
{
 	margin:	0px;
	padding:	2px;
	border:	1px solid #000000;
	margin-left:	0.15em;
	height:	12px;
}

.top_bar
{
  	background: 	#97b1d8;
  	font-family: 	helvetic, helvetica, arial;
  	font-size: 		12px;
  	height: 		30px;
	margin-left:	0.1em;
	margin-top:	0.5em;
	padding-top:	5px;
	padding-right:	15px;
	padding-left:	15px;
	border:		1px solid #000000;
}

.bottom_bar
{
  	background: #97b1d8;
 	margin-left: 	224;
 	margin-right: 	224;
	margin-top:	40px;
	margin-bottom:	12px;
	padding-top:	1px;
	padding-bottom:	1px;
		border:			2px solid #000000;
		border-top:		1px solid #000000;
		border-right:		1px solid #000000;
		border-left:		1px solid #000000;
}

td
{
  	font-family: helvetic, helvetica, arial;
  	font-size: 12px;
}



/* this is for category headings */

/* this is the indenting procedure for categories */
blockquote
	{
		margin-left:		32;
		margin-right:		0;
		
	} 

/* various link styles */
a
	{
		margin-right:		12;
		text-decoration:	none;
		border-bottom:		1px solid grey;
                white-space:            nowrap;
	}

a:link
	{	
		color:			black;
	}

a:visited
	{
		color:			black;
		border-bottom:		1px solid grey;
	}

a:active
	{
		color:			yellow;
	}

a:hover
	{
		color:			blue;
		border-bottom:		1px solid black;
	}


img.logo
	{
		margin-top:		1em;
		width:			318;
		height:			239;
		margin-left:	10px;
		border:		0px;
		float:		right;
	}

img
	{
		border:			0;
	}

input
	{
		margin-top:		6;
		margin-bottom:		6;
		margin-left:		3;
		margin-right:		3;
		padding-left:           2;
	}


input.btn{
   color:#050;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;}


#radio01 {width:100%}
el02 {
	color:#00f;
	background-color:#ddd;
}
#radio03 {background:url(/i/icon-info.gif) no-repeat 100% 50%}
#radio04 {border-width:6px}
#radio05 {border:2px dotted #00f}
#radio06 {border:none}
#radio07 {padding:1em}
#radio08 {
	border-width:4px;
	width:1.5em;
	height:1.5em;
	padding:2em;
}   
   
/* -------------------- Page Styles (not required) */
div { margin: 20px; }

/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */



#mainselection select {
   border: 0;
   color: #000000;
   background: transparent;
   font-size: 40px;
   font-weight: bold;
   padding: 2px 10px;
   *background: #ffffff;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   background: #ffffff;


#mainselection2 select {
   border: 0;
   color: #000000;
   background: transparent;
   font-size: 40px;
   font-weight: bold;
   padding: 2px 10px;
   *background: #333333;
   -webkit-appearance: none;
}

#mainselection2 {
   overflow:hidden;
   background: #ffffff;


#mainselection3 select {
   border: 0;
   color: #000000;
   background: transparent;
   font-size: 40px;
   font-weight: bold;
   padding: 2px 10px;
   *background: #ffffff;
   -webkit-appearance: none;
}

#mainselection3 {
   overflow:hidden;
   background: #ffffff;












/*
#mainselection select {
   border: 0;
   color: #000000;
   background: transparent;
   font-size: 40px;
   font-weight: bold;
   padding: 2px 10px;
   *background: #ffffff;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   background: #ffffff;
/*
#mainselection select {
   border: 0;
   color: #000000;
   background: transparent;
   font-size: 40px;
   font-weight: bold;
   padding: 2px 10px;
   *background: #ffffff;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   background: #ffffff;
/*
#mainselection select {
   border: 0;
   color: #000000;
   background: transparent;
   font-size: 40px;
   font-weight: bold;
   padding: 2px 10px;
   *background: #ffffff;
   -webkit-appearance: none;
}

#mainselection {
   overflow:hidden;
   background: #ffffff;
/*
   background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
*/

}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}

select#soflow-color {
   color: #fff;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
   background-color: #779126;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   padding-left: 15px;




.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

}