div { 
	border:0; 
	border-width: 0;
}

body { 
	overflow:auto; 
	background-position:16px 25%; 
}

html>body  { 
	overflow:visible; 
}

#Superior { 
	position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:15%; 
	overflow:auto; 
	background-color:#CEC; 
}

#Izquierda { 
	position:absolute; 
	top:15%; 
	border: 1;
	border-width: 5;
	left:0; 
	width:20%; 
	height:85%; 
	overflow:auto; 
	background-color:#90FFA3; 
	background:transparent; 
}



#Derecha { 
	position:absolute; 
	top:15%; 
	left:20%; 
	width:80%; 
	height:85%; 
	padding-top:0; 
	margin-left:0; 
	overflow:auto; 
	background-color:#EED; 
}

#Izquierda p { 
	padding-top:160px; 
}

.FrameCentralLeft {
	border: 0;
	border-width: 1;
	background-color:#777777;
	width: 100%;
	height: 100%;
  overflow: auto;
}
.FrameCentralRight {
	border: 0;
	border-width: 1;
	background-color:#777777;
	width: 100%;
	height: 100%;
  overflow: auto;
}

.FrameArriba {
	border:0; 
	background-color:#CC99DC;
	width: 100%;
	height: 100%;
  overflow: hidden;
}
