table {
	font-size: 15px;
	border-color: black;
	background: #ffffff;
}

table, th, td {
   border: 1px solid black;
}

table.t1, th, td {
   border: 1px solid black;
    background-color: #ffffff;
    font-size: 15px;
    color: #000000;
}